/* Fonts */

@font-face {
    font-family: "ES Build Variable";
    src: url("../assets/fonts/ESBuild-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ES Build Variable";
    src: url("../assets/fonts/ESBuild-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "ES Build Variable";
    src: url("../assets/fonts/ESBuild-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  
  