/* Variables */
$primary-color: #00D15F;
$secondary-color: #000000;
$text-color: #ffffff;
$info-gradient-color: linear-gradient(256.83deg, #505861 -95.76%, #232323 103.45%);
$font-family: "ES Build Variable", Arial, sans-serif;
$font-family-secondary: "Tahoma", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
